################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsStudentApp/.vs/WinFormsStudentApp/v17/.suo
